.skills {
    height: 700vh;
    display: flex;
}

.skills-title {
    width: 50%;
    height: 100vh;
    text-align: center;
    background-color: #fff;
    margin: 0!important;
}

.skills-title h1 {
    color: #2C2D2F;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 15%;
    padding-top: 10%;
}

.skills-pages {
    width: 50%;
}

.skills-pages div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2C2D2F;
    color: #fff;
}

.html h1,
.css h1,
.js h1,
.nodejs h1,
.react h1,
.python h1,
.sass h1 {
    font-size: 5rem;
    font-weight: 800;
}

.html img,
.css img,
.js img,
.nodejs img,
.react img,
.python img,
.sass img {
    margin-bottom: 5%;
}

.html p,
.css p,
.js p,
.nodejs p,
.react p,
.python p,
.sass p {
    font-size: 1.2rem;
    font-weight: 500;
}

@media screen and (max-width: 1200px) {
    .skills-title h1 {
        margin-bottom: 10%;
        padding-top: 5%;
    }
}

@media screen and (max-width: 1024px) {
    .html h1,
    .css h1,
    .js h1,
    .nodejs h1,
    .react h1,
    .python h1,
    .sass h1 {
    font-size: 4rem;
    }

    .html p,
    .css p,
    .js p,
    .nodejs p,
    .react p,
    .python p,
    .sass p {
    font-size: 1.1rem;
    }
}

@media screen and (max-width: 768px) {
    .skills {
        display: initial;
    }

    .skills-title {
        width: 100%;
    }

    .skills-title h1 {
        margin-bottom: 5%;
        padding-top: 5%;
    }

    .skills-pages {
        width: 100%;
    }

    .react p {
        width: 70%;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .skills-title img {
        height: 40%;
    }

    .skills-title h1 {
        margin-bottom: 15%;
        padding-top: 10%;
    }
}

@media screen and (max-width: 420px) {
    .html h1,
    .css h1,
    .js h1,
    .nodejs h1,
    .react h1,
    .python h1,
    .sass h1 {
    font-size: 3.5rem;
    }

}

@media screen and (max-width: 375px) {
    .html h1,
    .css h1,
    .js h1,
    .nodejs h1,
    .react h1,
    .python h1,
    .sass h1 {
    font-size: 3rem;
    }

    .html p,
    .nodejs p {
        width: 70%;
        text-align: center;
    }

    .nodejs img {
        width: 70%;
    }
}

@media screen and (max-width: 320px) {
    .skills-title h1 {
        margin-bottom: 25%;
        padding-top: 20%;
    }

    .html h1,
    .css h1,
    .js h1,
    .nodejs h1,
    .react h1,
    .python h1,
    .sass h1 {
    font-size: 2.5rem;
    }

    .html p,
    .nodejs p,
    .react p,
    .css p,
    .python p {
        width: 90%;
        text-align: center;
    }

    .sass img {
        width: 70%;
    }

    .react img {
        width: 90%;
    }
}